<header class="row header">
    <div class="col-md-5 header-left">
        <h2>Blog de Viajes</h2>
        <h3><a href="/">Inicio</a></h3>
        <h3><a href="http://">Autores</a></h3>
    </div>
    <div class="col-md-7 header-right">
        <span><a href=""><%=usuario.pseudonimo %> </a></span>
        <span>|</span>
        <span><a href="/procesar_cerrar_sesion">Cerrar Sesión</a></span>
    </div>
</header>