<header class="sticky">
    <div class="enlaces-registro">
        <a href="/registro">Registro</a>
        <a href="/iniciar_sesion">Iniciar Sesión</a>
    </div>
    <a href="/" class="logo">Blog de Viajes</a>
    <a href="/" class="button"><span class="icon-session"></span>Inicio</a>
    <a href="/autores" class="button"><span class="icon-user"></span>Autores</a>
</header>